POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=galerna_platform
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432

EMQX_DASHBOARD_PASSWORD=public
MQTT_HOST=emqx
MQTT_PORT=1883
MQTT_SYNC_USER=
MQTT_SYNC_PASSWORD=
MQTT_CLIENT_ID=sync-service
SYNC_LOG_LEVEL=INFO

UNS_MANAGER_HOST_PORT=8002
